body {
  font-family: "Lato", sans-serif;
  color: #747704;
  font-weight: 300;
}

.text-muted {
  color: #bcbbbb;
  font-size: 35px;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 50px;
}

.title-logo {
  margin-top: 20px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  opacity: 0.65;
}

.office {
  box-shadow: 6px 8px 5px #888;
}

.container {
  margin-top: 50px;
  margin-bottom: 100px;
}

.img-responsive {
  border: 5px ridge #f1c38e;
  border-width: medium;
}

.work:hover {
  transition: 0.5s ease;
  opacity: 0.8;
}

.thumbnail {
  border-radius: 10px;
  border-width: medium;
  box-shadow: 6px 8px 5px #888;
}

.bg-1 {
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  box-shadow: 5px 7px 4px #888;
  color: #bdbdbd;
  height: 500px;
  padding-top: 50px;
  padding-right: 80px;
}

.navbar {
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  font-weight: 500;
  color: #000;
  opacity:0.9;
}

.navbar-brand:hover, .navbar-nav li a:hover {
    color: #537895 !important;
}

.navbar-brand, .navbar-nav li.active a {
    color: #111 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

.dropdown-menu li a {
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: #d1fdff !important;
}

.text {
  font-size: 18px;
  text-align: justify;
}

.bgimg-2 {
  background-image: url("https://image.ibb.co/e49Wcc/20170420_201137.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("https://image.ibb.co/gvtpTm/20170204_152952.jpg");
  min-height: 400px;
}

.bgimg-2,
.bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.btn {
  color: #000;
}

.btn:hover {
  background-color: #d1fdff;
}

.bottom {
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  min-height: 60px;
  width: 100%;
  position: relative;
  margin: auto;
  font-size: 16px;
}

.fa {
  padding: 5px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 4px 6px 3px #888;
}

.fa-linkedin {
  background: #3b5998;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.fa-google-plus {
  background: #df2a10;
  color: white;
}

.fa-codepen {
  background: black;
  color: white;
}

hr {
  border: none;
  height: 1px;
  background-color: #f3e6ce;
}

.text-right {
  padding: 10px;
}

.rotate-scale-down {
  -webkit-animation: rotate-scale-down 0.65s linear both;
  animation: rotate-scale-down 0.65s linear both;
}
/* ----------------------------------------------
 * Generated by Animista on 2018-2-25 3:58:52
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-scale-down
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
    transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
    transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
